//JUMBOTORN
.jumbotron{
	display: block;
	width: 100%;
	height: 75%;
	background-image: url("../images/jumbotron.png");
	background-size: cover;
	background-position: bottom;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 0;
	nav{
		width: 100%;
		ul{
			  display: flex;
			  justify-content: center;
			  a{
			  	  margin: 10px;
				  background: none;
				  color: $white;
				  display: block;
				  padding: 15px 30px;
				  text-decoration: none;
				  position: relative;
				  transition: all 0.3s ease-in;
				  &:hover{
					color: $green;
					font-size: 20px;
					letter-spacing: 1px;
					top: 3px;
				  }

			  }
			 .logo{
				position: relative;
				padding: 0 30px;
				transition: all 0.4s ease-in;
				&:hover{
					top: auto;
					padding: 5px 60px 8px 60px;
				}
			  }
		}
	}
	.theme{
		text-align: center;
		color: $white;
		margin-top: 13%;
	}
	.media {
		display: block;
		color: $white;
		width: 100%;
		position: absolute;
		bottom: -60px;
		div{
			display: block;
			width: 115px;
			margin: 0 auto;
			.fa-vr-cardboard{
				margin: 0 16px;
			}
			span{
				font-size: 22px;
			}
		}
		
	}
}

// SIMPLE PHOTO

.simple-photo{
	display: flex;
	position: relative;
	background-color: $gray;
	height: 500px;
	.text {
		h2{
			padding-top: 130px;
			color: $green;
			width: 500px;

		}
		p{
			color: $dark;
			padding-top: 40px;
			width: 450px;
		}
		.btn{
			margin-top: 20px;
		}
	}
	.img{
		width: 600px; 
		position: absolute;
		right: 80px;
		top: 150px;
		img{
			width: 100%;
			height: 600px;
		}
	}
}

// DESIGN

.design{
	background-color: $white;
	position: relative;
	z-index: 5; 
	height: 560px;
	.container{
		position: relative;
		display: flex;
		.img{
			margin-top: 155px;
			position: absolute;
		}
		.text{
			position: absolute;
			top: 150px;
			right: 0;
			width: 450px;
			h2{
				color: $green;
			}
			p{
				padding-top: 30px;
			}
			.btn{
				margin-top: 30px;
			}
			.arrows{
				font-weight: 700;
				p{
					color: $dark;
					position: relative;
					top: 17px;
				}
				span{
					font-size: 25px;
					cursor: pointer;
					transition: all 0.2s ease-in;
					&:hover{
						color: $green;
					}
				}
				.fa-angle-right{
					margin-left: 20px;
				}
			}
		}
	}
}

//COMMUNITY

.community{
	position: relative;
	z-index: 5;
	background-color: $gray;
	height: 530px;
	.container{
		display: flex;
		.text{
			color: $dark;
			padding: 150px 0;
			width: 300px;
			text-align: center;
			h2{
				padding: 25px 0;
			}
			p{
				width: 180px;
				margin: 0 auto;
			}
		}
		.gallery{
			width: calc(100% - 300px);
			padding: 90px 0;
			.arrows{
				display: flex;
				justify-content: flex-end;
				position: relative;
				bottom: 10px;
				span{
					font-size: 25px;
					cursor: pointer;
					transition: all 0.2s ease-in;
					&:hover{
						color: $green;
					}
				}
				.fa-angle-right{
					margin-left: 20px;
				}
			}
			.photos{
				display: flex;
				justify-content: flex-end;
				img{
					width: 390px;
					height: 280px;
					margin-left: 20px;
					object-fit: cover;
				}
			}
		}

	}
}

//SUBSCRIBE

.subscribe{
	height: 900px;
	background-image: url('../images/make_photo.png');
	background-size: cover;
	background-position: bottom;
	.content{
		padding-top: 400px;
		text-align: center;
		h1{
			color: $white;
			padding-bottom: 30px;
		}
		.mail{
			margin: 0 auto;
		}		
	}
}

//DOWNLOAD

.download{
	height: 430px;
	background-color: $gray;
	color: $dark;
	.text{
		text-align: center;
		h2{
			padding-top: 100px;
		}
		p{
			font-size: 18px;
			letter-spacing: 2px;
			width: 95%;
		}
	}
	.btns{
		display: flex;
		justify-content: center;
		.long{
			margin: 35px 15px;
		}
	}
}

//footer

.footer{
	height: 160px;
	.container{
		display: flex;
		position: relative;
		.text{
			font-weight: 700;
			letter-spacing: 2px;
			.f_line{
				display: flex;
				span{
					&:first-child{
						padding: 0 8px 0 0;
					}
					font-size: 14px;
					padding: 0 8px;
					text-transform: uppercase;
					cursor: pointer;
					position: relative;
					margin: 60px 0 18px 0;
					transition: all 0.2s ease-in;
					&:after{
						display: block;
						content: '';
						width: 1px;
						height: 13px;
						background-color: $black;
						position: absolute;
						right: 0;
						top: 4px;
					}
					&:last-child:after{
						display: none;
					}
					&:hover{
						color: $green;
						font-size: 15px;
					}
				}
			}
		}
		.img{
			position: absolute;
			right: 0;
			top: 40px;
		}
	}
}



// MEDIA QUERY

@media (max-width: 1300px){
	//JUMBOTORN
	.jumbotron{
		height: 90%;
		.theme{
			margin-top: 4%;
		}
	}
}

@media (max-width: 1200px){
	//COMMUNITY
	.community{
		height: 700px;
		.container{
			display: block;
			.text{
				padding-bottom: 0;
				padding-top: 50px;
				margin: 0 auto;
			}
			.gallery{
				padding-top: 20px;
				margin: 0 auto;
				width: 100%;
				.arrows{
					justify-content: center;
				}
				.photos{
					width: 100%;
					justify-content: center;
					img{
						margin: 0 10px;
					}
				}
			}
		}
		
	}
}

@media (max-width: 1000px){

	// SIMPLE PHOTO

	.simple-photo{
		height: 500px;
		.text {
			position: relative;
			z-index: 2;
		}
		.img{
			img{
				opacity: 0.2;
			}
		}
	}

		// DESIGN

	.design{
		position: relative;
		z-index: 5; 
		height: 560px;
		.container{
			position: relative;
			display: flex;
			.img{
				display: flex;
				justify-content: center;
				width: 100%;
				margin-top: 100px;
				position: absolute;
				z-index: 2;
				opacity: 0.8;
				img{
					width: 285px;
				}
			}
			.text{

				position: relative;
				top: 40px;
				right: 0;
				width: 200px;
				opacity: 1;
				z-index: 10;
				text-align: center;
				margin: 0 auto;
				p{
					padding-top: 170px;
				}
				.btn{
					margin-top: 0px;
				}
				.btn-primary{
					border: 1px solid black;
					background-color: $green-hover;
				}
				.arrows{
					display: none;
				}
			}
		}
	}

}


@media (max-width: 765px){
	.container{
		padding: 0;
	}
	//JUMBOTORN
	.jumbotron{
		nav{
			ul{
				display: flex;
				justify-content: center;
				a{
					display: none;
				}
			}
			.logo{
			 	display: block;
			}
		}
		.theme{
			margin-top: 20%;
		}
		.media {
			bottom: 0px;
			div{
				width: 130px;
				.fa-vr-cardboard{
					margin: 0 21px;
				}
			}
			
		}
	}

	// SIMPLE PHOTO

	.simple-photo{
		height: 500px;
		.text {
			position: relative;
			z-index: 2;
			text-align: center;
			h2{
				padding-top: 40px;
				width: 280px;
				margin: 0 auto;

			}
			p{
				width: 280px;
				margin: 0 auto;
			}
			.btn{
				display: block;
				margin: 40px auto;		
			}
		}
		.img{
			img{
				opacity: 0.2;
			}
		}
	}

	// DESIGN

	.design{
		background-color: $white;
		position: relative;
		z-index: 5; 
		height: 560px;
		.container{
			position: relative;
			display: flex;
			.img{
				display: flex;
				justify-content: center;
				width: 100%;
				margin-top: 100px;
				position: absolute;
				z-index: 2;
				opacity: 0.8;
				img{
					width: 285px;
				}
			}
			.text{

				position: relative;
				top: 40px;
				right: 0;
				width: 200px;
				opacity: 1;
				z-index: 10;
				text-align: center;
				margin: 0 auto;
				p{
					padding-top: 170px;
				}
				.btn{
					margin-top: 0px;
				}
				.btn-primary{
					border: 1px solid black;
					background-color: $green-hover;
				}
				.arrows{
					display: none;
				}
			}
		}
	}

	//COMMUNITY

	.community{
		position: relative;
		z-index: 5;
		background-color: $gray;
		height: 600px;
		.container{
			display: block;
			.text{
				color: $dark;
				padding: 20px 0;
				width: 300px;
				text-align: center;
				h2{
					padding: 25px 0;
				}
				p{
					width: 180px;
					margin: 0 auto;
				}
			}
			.gallery{
				width: 100%;
				padding: 20px 0 0 0;
				.arrows{
					display: flex;
					justify-content: center;
					position: relative;
					bottom: 10px;
					span{
						font-size: 25px;
						cursor: pointer;
						transition: all 0.2s ease-in;
						&:hover{
							color: $green;
						}
					}
					.fa-angle-right{
						margin-left: 20px;
					}
				}
				.photos{
					display: block;
					width: 100%;
					img{
						display: block;
						width: 280px;
						height: 220px;
						margin: 0 auto;
						&:last-child{
							display: none;
						}
					}
				}
			}

		}
	}

	//SUBSCRIBE

	.subscribe{
		height: 750px;
		.content{
			padding-top: 300px;
			width: 100%;
			text-align: center;
			.mail{
				display: block;
				margin: 0 auto;
				width: 290px;
			}		
		}
	}

	//DOWNLOAD

	.download{
		height: 600px;
		.text{
			h2{
				padding-top: 60px;
			}
		}
		.btns{
			display: block;
			width: 100%;
			.long{
				display: block;
				margin: 25px auto;
			}
		}
	}

	//footer

	.footer{
		height: 180px;
		.container{
			display: block;
			.text{
				height: 100px;
				.f_line{
					display: flex;
					justify-content: center;
					span{
						position: relative;
						margin: 20px 0 18px 0;
					}
				}
			}
			p{
				text-align: center;
				margin: 0;

			}
			.img{
				display: block;
				position: relative;
				right: auto;
				top: 15px;
				img{
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
}
